.input{
    width: 100%;
padding: 10px;
box-sizing: border-box;
}

.label {
     font-weight: bold;
     display: block;
     margin-bottom: 8px;
     text-transform: capitalize;
}

.inputElement{
    outline: none;
    border: 1px solid #ccc;
    font: inherit;
    padding: 6px 10px;
    background-color: white;
    display: block;
    width: 100%;
}

.inputElement:focus{
outline: none;
background-color: #ccc;
}